{% extends "layouts/master.twig" %}

{% block title %} - {{ article.title }}{% endblock %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ article.title }}</h1>
                    <span class="meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.publishedAt }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

{{ article.content | raw }}
{% endblock %}